[package]
name = "logic-hf"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
espresso-logic = "3.1.2"
nom = "8.0.0"

logic-hf-core.workspace = true
